@media(max-width:900px){
    .about-section{
    text-align: center;
    padding: 0;
    }    
    }
    div{
        display: block;
    }
    body{
        font-family: "poppins",sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        color: #212529;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .about-section-content{
    margin: 30px;
    }
    .about-section h1{
        font-size: 64px;
        line-height: 80px;
    }
    .mp4{
        margin-bottom: 1.5rem;
    }
    .about-section h2{
        font-size: 18px;
    font-family: "poppins",sans-serif;
    }
    .mp-5{
        margin-bottom: 3rem;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        margin-top: 0;
    }
    .btn-branding {
        background-color: #0d6efd;
        border-radius: 4px;
        color: white;
        font-size: 27px;
        padding: 15px 30px;
    }
    .btn{
        display: inline-block;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
    }
    .img-fluid{
        max-width: 100%;
        height: auto;
    }